/* NAVBAR  */
.dark{
    background-color: #eadac0a1;
}
#responsive-navbar-nav{
    justify-content: center;
}
.logo {
    height: 75px;
    width: 95px;
}

.icons {
    display: flex;
    height: auto;
    width: auto;
    padding: 5px;
}
.navbar-brand {
    font-size: 1.35rem;
}
.navbar-nav {
    display: flex;
    align-items: center;
    height: 100%;
}

/* HOME */
.landing-page {
    display: flex;
    height: 100vh;
    width: auto;
    /* margin-top: 125px; */
} 

.eats {
    height: 100%;
    width: 100%;
}

.eats-images {
    height: 100%;
    width: 100%;
    background-image: url(../Components/Assets/Margheader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 20s infinite;
    overflow: hidden;
    transition: background-image 5s ease-in-out;
  } 
  
  @keyframes slide {
    20% {
      background-image: url(../Components/Assets/Tacopieheader.jpg);
    }
    40% {
      background-image: url(../Components/Assets/Veggieheader.jpg);
    }
    60% {
      background-image: url(../Components/Assets/CBRheader.jpg);
    }
    80% {
      background-image: url(../Components/Assets/Chzheader.jpg);
    }
  }

.menu-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    position: absolute;
    top:85%;
    text-transform: uppercase;
    text-align: center;
    font-family: Helvetica;
    font-size: 150%;
    font-weight: 600;
    color: rgb(255, 255, 255);
    animation: slide-in 1000ms;
    animation-timing-function: linear;
    z-index: 2;
}
@keyframes slide-in {
    from {
      transform: translateX(-100%);
      opacity: 0.25;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
}

.favorites {
    margin: 0px 50px;
    font-size: 170%;
    font-style: oblique;
}
/* .address{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(143, 143, 143, 0.8);
}

.address h3{
    margin: 0; 
    padding-left: 10px; 
    color: white;
} */

/* ABOUT US */
.about-page{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    background-image: url(../Components/Assets/Beigebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #0C0C1E;
    
}

.about-info{
    height: auto;
    width: 50vw;
    padding: 50px;
}

.about-title{
    font-size: 50px;
}

p {
    font-size: 17px;
    text-align: left; 
    padding-left: 5px;
    padding-right: 5px;
}

.about-image{
    height: 100vh;
    width: 40vw;
    vertical-align: middle;
    padding: 50px;
}

/* Reviews  */
/* .reviews{
    height: 70vh;
    width: auto;
    border: 5px solid rgba(12, 11, 11, 0.15);
    background-color: brown;
} */

/* GALLERY  */
.gallery-page {
    height: 100%;
    width: auto;
    background-image: url(../Components/Assets/Stonebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-header{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

.gallery-header h1{
    padding: 10px;
    margin-top: 50px;
}

.gallery-header p{
    height: auto;
    width: 60%;
    text-align: center;
    margin: auto;
}

.carousel-page{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    height: 100%;
    width: 80%;
    position: relative;
    overflow: hidden;
    padding: 50px;
}
  
.slides-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    transform: translateX(0%);
}
  
.slide {
    width: 25%;
    flex-shrink: 0;
    margin: 20px;
}
  
.slide:last-child {
    margin-right: 0;
}
  
.slide.active {
    border: 2px solid #333;
}
  
.image {
    width: 100%;
    height: auto;
    display: block;
}
  

.right-arrow {
    position: absolute;
    top:40%;
    right:0px;
    font-size: 4rem;
    color: whitesmoke;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top:40%;
    left:0px;
    font-size: 4rem;
    color: whitesmoke;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

/* FIND US */
.findus-page{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(26, 26, 26, 0.959);
    color: whitesmoke;
    padding: 25px;
}

.findus-info{
    height: auto;
    width: auto; 
    align-items: center;
}

.info{
    margin-bottom: 50px;
    text-align: left;

}

.findus-location{
    height: 75vh;
    width: 50vw;
}

.footer{
    background-color: rgba(26, 26, 26, 0.959);
    color: whitesmoke;
    height: 50vh;
    display: flex;
    flex-direction: row;
    padding: 50px;
}

/* Menu */
.menu-page{
    height: auto;
    width: auto; 
    padding: 10px;
    /* background-image: url(../Components/Assets/Stonebackground.jpg);
    background-color: rgba(218, 208, 201, 0.75);
    background-repeat: no-repeat;
    background-size: cover; */
}

.menu{
    margin-top:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-card{
    height: auto;
    width: 50%;
    /* background-color: rgba(218, 208, 201, 0.35); */
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
}

.menu-card-img{
    height: 200px;
    width: 200px; 
}

.menu-card-details{
    height: auto;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:25px ;
}

.menu-card-order {
    height: auto;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.menu-card-order h2 {
    text-align: right;
}
  
.menu-card-order button {
    text-align: right;
}

/* Specials Menu */
.specials-menu-page{
    height: auto;
    width: auto; 
    padding: 10px;

}

.specials-menu{
    margin-top:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Catering Menu */
.catering-menu-page{
    height: auto;
    width: auto; 
    padding: 10px;
}

.catering-menu{
    margin-top:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
.footer {
    color: #666;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    width: 100%;
}

.socialIcons{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
  

