*{
    font-family: "Bodoni",sans-serif;
}

/* NAVBAR  */
.nav-background{
    background-color: rgba(218, 208, 201, 0.65);
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: center;
}

.logo {
    height: 75px;
    width: 95px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: end;
    height: auto;
    padding: 10px;
}

.bag-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    background-color: rgba(255, 249, 63, 0.75);
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.logout{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5px;
}

.navbar-brand {
    font-size: 1.35rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media (max-width: 991px) {
    #logo {
      display: none;
    }
    #cart{
        display: none;
    }
    .nav-background{
        height:100px
    }
}

@media (min-width: 991px) {
    #display{
        display: none;
    }
}

.auth-btn{
    display: flex;
}
.cart-btn{
    display: flex;
    justify-content: space-between;
}
.subtotal{
    display: flex;
}
.formatted-total{
    margin-left: 10px
}

/* Modal Cart */
.modal-cart-items{
    display: flex;
    align-items: center;
}
.modal-cart-img{
    height: 200px;
    width: 200px;
    margin: 10px
}
.modal-form{
    width: 200px;
    margin: 10px;
}
.modal-lable{
    width: 200px;
}
.empty-cart-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.empty-cart-btn a{
    color: #3333339b;
    text-decoration-line: none;
    font-size: 20px;
}

/* Error Page */
.error-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
.error-page h2{
    font-size: 75px;
}
.error-page p{
    font-size: 20px;
}
/* Login */
.login-page{
    margin-top: 150px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* signup */
.signup-page{
    margin-top: 150px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HOME */
.landing-page {
    display: flex;
    height: 100vh;
    width: auto;
} 
.eats {
    height: 100%;
    width: 100%;
}
.eats-images {
    height: 100%;
    width: 100%;
    background-image: url(../Components/Assets/Margheader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 20s infinite;
    overflow: hidden;
    transition: background-image 5s ease-in-out;
} 

@keyframes slide {
    20% {
        background-image: url(../Components/Assets/Tacopieheader.jpg);
    }
    40% {
        background-image: url(../Components/Assets/Veggieheader.jpg);
    }
    60% {
        background-image: url(../Components/Assets/CBRheader.jpg);
    }
    80% {
        background-image: url(../Components/Assets/Chzheader.jpg);
    }
}

.menu-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0px 25px 25px;
    position: absolute;
    top:85%;
    text-transform: uppercase;
    text-align: center;
    font-family: Helvetica;
    font-size: 150%;
    font-weight: 600;
    color: rgb(255, 255, 255);
    animation: slide-in 1000ms;
    animation-timing-function: linear;
    z-index: 2;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0.25;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.favorites {
    margin: 0px 50px;
    font-size: 170%;
    font-style: oblique;
}

@media (max-width: 991px) {
    .landing-page {
      flex-direction: column;
    }
    .menu-link {
        top:80%;
    }
}

/* ABOUT US */
.about-page{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    background-image: url(../Components/Assets/Beigebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #0C0C1E;  
}

.about-info{
    height: auto;
    width: 50vw;
    padding: 50px;
}
.about-title{
    font-size: 50px;
}
p {
    font-size: 17px;
    text-align: left; 
    padding-left: 5px;
    padding-right: 5px;
}

.about-image{
    height: 80vh;
    width: 40vw;
    vertical-align: middle;
    padding: 50px;
}

@media (max-width: 991px) {
    .about-page {
        flex-direction: column;
        width: 100vw;
    }
    .about-image{
        height: 80vh;
        width: 75vw;
        padding: 5px;
    }
    .about-info{
        height: auto;
        width: 100%;
    }
}
/* Reviews  */
/* .reviews{
    height: 70vh;
    width: auto;
    border: 5px solid rgba(12, 11, 11, 0.15);
    background-color: brown;
} */

/* GALLERY  */
.gallery-page {
    height: 100%;
    width: auto;
    background-image: url(../Components/Assets/Stonebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-header{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

.gallery-header h1{
    padding: 10px;
    margin-top: 50px;
}

.gallery-header p{
    height: auto;
    width: 60%;
    text-align: center;
    margin: auto;
}

.carousel-page{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    height: 100%;
    width: 80%;
    position: relative;
    overflow: hidden;
    padding: 50px;
}
  
.slides-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    transform: translateX(0%);
}
  
.slide {
    width: 25%;
    flex-shrink: 0;
    margin: 20px;
}
  
.slide:last-child {
    margin-right: 0;
}
  
.slide.active {
    border: 2px solid #333;
}
  
.image {
    width: 100%;
    height: auto;
    display: block;
}
  
.right-arrow {
    position: absolute;
    top:40%;
    right:0px;
    font-size: 4rem;
    color: whitesmoke;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top:40%;
    left:0px;
    font-size: 4rem;
    color: whitesmoke;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

/* FIND US */
.findus-page{
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(26, 26, 26, 0.959);
    color: whitesmoke;
    padding-top: 100px;
    padding-bottom: 100px;
}

.findus-info{
    height: auto;
    width: auto; 
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.info{
    padding-bottom: 25px;
    text-align: left;

}

.findus-location{
    height: 75vh;
    width: 50vw;
}

@media (max-width: 991px) {
    .findus-page{
        flex-direction: column;
    }
    .findus-location{
        height: 80vh;
        width: 90vw;
    }
    .findus-info{
        height: auto;
        width: auto; 
        display: flex;
        flex-direction: row;
        align-items:flex-start;
    }
    .info{
        margin: 25px;
    }
}

/* Footer */
.footer {
    background-color: rgba(26, 26, 26, 0.959);
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #666;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    width: 100%;
}

.socialIcons{
    display: flex;
    padding:15px;
    justify-content: center;
    align-items: center;
}

/* Menus */
.loading{
    margin-top: 200px;
}
.menu-container{
    width: 100%;
    display: flex;
    margin:0;
    align-items: center;
    
}
.menu-page{
    display: flex;
    height: auto;
    width: auto; 
    justify-content: center;
    margin-top: 100px;
    padding: 10px;
    background-color: rgba(218, 208, 201, 0.75);

}
.col-md-5 {
    flex: 0 0 auto;
    width: 50%;
}
.menu-card{
    width: auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(218, 208, 201, 0.35);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.card-body{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    margin-bottom: 30px;
}
.menu-card .description {
    display: none;
}
  
.menu-card:hover .description {
    display: block;
}
.menu-card-img{
    width: 75%; 
}
.menu-card-img img{
    width: 100%;
    height:350px; 
    border-radius: 5px;
}
.menu-card-order{
    display: flex;
    justify-content: space-between;
}
  
.menu-card-order h4 {
    text-align: center;
}

.menu-card-order button {
    text-align:center;
}
@media (min-width: 992px) {
    .menu-card-col {
      flex-basis: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-card-col {
    flex-basis: 50%;
  }
  .menu-card-img{
    width: 75%; 
}
  .menu-card-img img{
      height: 50%;
      width: 80%;
      margin-top: 25px;
  }
  .menu-card{
    height: auto;
    flex-direction: column;
}
}
@media (max-width: 767px) {
    .menu-card-img{
        width: 70%; 
    }
    .menu-card-img img{
        height: 75%;
        width: 100%;
        margin-top: 25px;
    }
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .menu-card{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .menu-card-col {
        flex-basis: 100%;
      }
    
}

/* Specials Menu */
.specials-menu-page{
    height: auto;
    width: auto; 
    background-color: rgba(218, 208, 201, 0.75);
    padding: 10px;
    
}
.specials-menu{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.special-unavailable {
    opacity: 0.5; 
}
.unavailable {
    opacity: 0.5;
  }
  
.unavailable-block {
    padding: 10px;
}

/*Catering Menu */
.catering-menu-page{
    height: auto;
    width: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(218, 208, 201, 0.75);
    padding: 10px;
}
.catering-menu-page h1{
    padding: 150px 100px 50px 100px;
}
.catering-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.catering-card{
    height: auto;
    width: 90%;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin: 50px;
    flex: 0 0 25%;
}
@media (max-width: 991px) {
    .catering-card {
      flex: 0 0 50%;
    }
}
  
@media (max-width: 431px) {
    .catering-card {
      flex: 0 0 100%;
    }
}

.catering-card-details{
    height: auto;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Shopping cart */
.shopping-cart-container {
    width: 100%;
    padding-top: 150px;
}
.shopping-cart {
    display: flex;
    align-items: center;
  }
.shopping-cart-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
  
.card-container{
    width: 60%;
}
.card-header{
    border-bottom: #000000 solid;
    margin: 15px;
    display: flex;
    justify-content: left;
}

.cart-img {
    height: 70%;
    width: 75%;
    border-radius: 10px;
}
.items-form {
    display: flex;
    flex-direction: row;
    width: 100%;

}
.cart-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: #0c0c1e solid;
    border-radius: 5px;
}
.taxes {
    color: #d4c7c7;
}
.summary-container{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.total-checkout-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: #0c0c1e solid;
    padding-top: 10px;
}
.card-img{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.empty-cart h2{
    color: #3333339b;
    font-size: 25px;
    margin: 50px;
}
.empty-cart a{
    color: #3333339b;
    text-decoration-line: none;
    font-size: 25px;
}
  
/* Sucess Page */
.success-page{
    width: 100%;
    min-height: 80vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.success-page h2{
    color: rgb(11, 128, 0)
}