/* NAVBAR  */

.logo {
    height: 50px;
    width: 50px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 50px;
    width: 125px;
}

/* HOME */
.landing-page {
    display: flex;
    margin-top: 50px;
    /* background-color: brown; */
}

.customers {
    height: 100vh;
    width: 38%;
    padding-right: 2%;
}

.pizza {
    height: 100vh;
    width: 62%;
    padding-left: 2%;
} 

.name {
    position: absolute;
    top: 90px;
    right: 16px;
    font-size: 500%;
    font-weight: 600;
    color:rgb(255, 255, 255)
} 

.menu-link {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 40%;
    font-size: 195%;
    font-weight: 600;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.favorites {
    margin-right: 25px;
    font-size: 170%;
}

.d-grid { 
    margin-top: 15px;
}

.center{
    height: 80px;
    width: 100vw;
    background-color: brown;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 80px; 
}

/* ABOUT US */
.about-page{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
    
}
.about-info{
    height: auto;
    width: 60vw;
    color:  rgb(0, 0, 0);
    padding: 50px;
}
.about-title{
    font-size: 60px;
}

p {
    font-size: 20px;
    text-align: left; 
    padding-left: 5px;
    padding-right: 5px;
}
.about-image{
    height: 90vh;
    width: 30vw;
    vertical-align: middle;
}

/* Reviews  */
/* .reviews{
    height: 70vh;
    width: 100vw;
    border: 5px solid rgba(12, 11, 11, 0.15);
    background-color: brown;
} */



/* GALLERY  */
.gallery-page {
    height: auto;
    width: 100vw;
    background-color: brown;
}
.carousel {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 60vw;
    height: 80vh;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top:50%;
    right: 100px;
    font-size: 4rem;
    color: whitesmoke;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top:50%;
    left: 100px;
    font-size: 4rem;
    color: whitesmoke;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

/* FIND US */
.findus-page{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
}
.findus-info{
    height: 60vh;
    width: auto
}
.info{
    margin: 25px 0px 50px 50px;
    text-align: left;

}
.findus-location{
    height: 75vh;
    width: 50vw;
    margin: 25px 25px 25px 0px;
}

